.sidebar {
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 30vw;
  min-width: 240px;

  background-color: #222;

  transition: all 0.5s ease-out;
  transform: translateX(-100%);

  overflow: hidden;
  z-index: 1;
}

.hamburger-menu {
  left: 20px;
}

.modules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  color: white;
  font-size: 32px;
  text-align: center;
}

.sidebar a:visited,
.sidebar a:link {
  text-decoration: none;
  color: white;
}

.sidebar a {
  transition: all 0.3s ease-out;
}

.sidebar a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  transform: scale(1.1);
}

.sidebar--open {
  transform: translateX(0);
}

.close-sidebar {
  display: block;
  border: none;
  background-color: transparent;
  right: 20px;
}

.hamburger-menu,
.close-sidebar {
  position: absolute;
  top: 20px;

  transition: all 0.3s ease-out;
  font-size: 32px;
  color: #ddd;

  cursor: pointer;
}

.hamburger-menu:hover,
.close-sidebar:hover {
  transform: scale(1.2);
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: white;
  font-size: 32px;

  margin-bottom: 5vh;
}

.socials a:hover {
  transform: scale(1.2);
}

.backdrop {
  display: none;
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: black;
  opacity: 0;
  transition: all 2s ease;
}

.backdrop--visible {
  opacity: 0.9;
  display: block;
}
